.article-item {
  margin-top: 4rem;

  h2 {
    a {
      text-decoration: none;
    }
  }
}

.article-title {
  margin-top: 4rem;
  margin-bottom: 8rem;
  text-align: center;
}

.article-content {
  margin-bottom: 8rem;
}
