@import '../css/mixins.scss';

.container {
  @include container;
}

.post {
}

.header {
  margin-top: -8rem;
}

.hero {
  margin-bottom: 8rem;
  position: relative;

  > div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: $white;
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.header-inner {
  @include container;
}

.title {
  text-align: center;

  @include media(sm) {
    margin-bottom: 8rem;
  }
}

.content {
  @include column(12);
}
