@import '../css/mixins.scss';

.article-item {
  margin-top: 3rem;

  @include media(sm) {
    margin-bottom: 6rem;
  }

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  h2 {
    a {
      text-decoration: none;
    }
  }
}

.article-item-content {
  line-height: 1.5;
}

.article-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  @include media(sm) {
    margin-bottom: 8rem;
  }
}

.article-content {

}
