@import '../css/mixins.scss';

.page {
  @include container;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header,
.content {
  text-align: center;
}

.header {
  @include column(7);
}

.content {
  @include column(7);
}

.title {
  @include heading-1;
}
