@import '../css/mixins.scss';

.label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.input,
.textarea,
.btn {
  box-sizing: border-box;
  transition: all $transition;
}

.input,
.textarea {
  width: 100%;
  border: 1px solid $gray;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;

  &:focus {
    border-color: $black;
  }
}

.input {
  height: 5rem;
  padding: 0 1rem;
}

.textarea {
  padding: 1rem;
  min-height: 12rem;
}

.btn {
  padding: 1.25rem;
  width: 100%;
  display: block;
  background: $black;
  color: $white;
  font-size: 2rem;
}
