.header {
	padding: 4rem;
	display: flex;
	font-size: 1.6rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	h1 {
		margin-bottom: 0;
		font-size: 1.6rem;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	nav {
		margin-left: auto;
	}
}