html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
}

a {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 2rem 0;
	line-height: 1.1;
}

.wrapper {
	
}

.main {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}