@import '../css/mixins.scss';

.post {
  margin-top: 4rem;
  @include column(12);

  @include media(sm) {
    margin-top: 6rem;
  }

  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.content {
  line-height: 1.5;
}
