@import '../css/mixins.scss';

.header {
  display: flex;
  padding: 2rem;
  @include position(fixed, 0, 0, null, 0);
  font-size: 1.6rem;
  transition: background 0.3s, transform 0.2s;
  z-index: 1000;

  @include media(sm) {
    padding: 3rem;
  }

  a {
    text-decoration: none;
    padding: 0.5rem 0;
    transition: none;
  }
}

.logo {
  margin-bottom: 0;
  font-size: 1.6rem;

  @include media(sm) {
    font-size: 1.8rem;
  }

  a {
    border: none;
  }
}

.nav {
  margin-left: auto;
  padding-right: 1rem;

  a {
    margin-left: 2rem;
  }
}
